.feedList {
  max-width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1px 0 0 0;
  margin: 0;
  max-height: 916px;
  overflow: auto;
  /* width: 600px; */
  max-width: 100%;
  scrollbar-color: rgba(133, 133, 173, 1);
  scrollbar-width: thin;
  gap: 16px;
}

.orderElement {
  box-sizing: border-box;
  background-color: rgba(28, 28, 33, 1);
  margin-left: 1px;
  padding: 24px 24px 20px 24px;
  border-radius: 40px;
  max-width: 866px;
  cursor: pointer;
}

.orderElement:hover {
  box-shadow: 0px 4px 8px rgb(195,31,255), 0px 0px 2px rgb(253, 253, 82);
  transition: all 0.3s;
}

.infoOrder {
  display: flex;
  justify-content: space-between;
}

.status {
  color: #00CCCC;
}

.containerIngredients {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  max-height: 24px;
  margin-top: 20px;
  column-gap: 8px;
}
