.section {
  width: 600px;
  height: calc(100vh - 168px);
  max-height: 912px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 40px;
}

.pricearea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 9px;
}

.list {
  max-height: calc(100vh - 368px);
  margin: 0px;
  list-style: none;
}

.list2 {
  max-height: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  overflow: auto;
  scrollbar-color: rgba(133, 133, 173, 1);
  scrollbar-width: thin;
}

.listitem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.listitemlist {
  max-height: calc(100vh - 616px);
}

::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background-color: #2F2F37;
  margin-bottom: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}