.profile {
  display: flex;
  gap: 60px;
  max-width: 1240px;
  margin: 120px auto 0;
}

.nav {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.list {
  padding: 0;
  list-style: none;
}

.list_item {
  padding: 17px 0 17px;
}

.element:hover {
  opacity: 60%;
  transition: all 0.6s;
}

.navlink {
  text-decoration: none;
}

.active {
  color: unset;
}

.text {
  margin: 0;
  color: #8585AD;
  opacity: 40%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttons {
  align-self: end;
  display: flex;
  /* gap: 28px; */
}
